#uptext {
    position: absolute;
    top: 70px;
    left: 60px;
    font-size: 50px;
}

/*CAREFUL WHAT YOU WISH FOR*/
#careful {
    line-height: 150%;
    word-spacing: 10px;
    width: 600px;
    position: absolute;
    top: 250px;
    left: 60px;
}

#h2careful {
    position: absolute;
    top: 200px;
    left: 60px;
         }

#carefulvideo1 {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 750px;
}

#carefulvideo2 {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 1100px;
}

#carefulvideo3 {
    width: 300px;
    position: absolute;
    top: 500px;
    left: 750px;
}

#carefulvideo4 {
    width: 300px;
    position: absolute;
    top: 500px;
    left: 1100px;
}

/*PURRFECTLY PREDICTED*/
#purrfectly {
    line-height: 150%;
    word-spacing: 10px;
    width: 700px;
    position: absolute;
    top: 850px;
    left: 60px;
       }
#h2purrfectly {
    position: absolute;
    top: 800px;
    left: 60px;
         }
#purrvideo {
    width: 700px;
    position: absolute;
    top: 800px;
    left: 750px;
}



/*LOVE LETTERS FROM BEYOND*/
#h2love {
    position: absolute;
    top: 1400px;
    left: 60px;
    
}
#love {
    line-height: 150%;
    word-spacing: 10px;
    width: 690px;
    position: absolute;
    top: 1450px;
    left: 60px;
}
#lovepersonaje{
    width: 700px;
    position: absolute;
    left: 750px;
    top: 1400px;
}



/*DRESS ME UP*/
#h2dressmeup {
    position: absolute;
    top: 1800px;
    left: 60px;
}
#dressmeup {
    line-height: 150%;
    word-spacing: 10px;
    width: 700px;
    position: absolute;
    top: 1850px;
    left: 60px;
}
#dressup {
    width: 700px;
    position: absolute;
    left: 750px;
    top: 1800px;
}



/*CHARACTER DESIGNS*/
#h2chdes {
    position: absolute;
    top: 2300px;
    left: 60px;
         }
#color-test-2 {
    width: 49%;
    top: 2300px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#color-test {
    width: 60%;
    position: absolute;
    top: 2970px;
    left: 340px;

}
#outfits {
    width: 70%;
    position: absolute;
    top: 3650px;
    left: 270px;
}
#kai-img {
    width: 70%;
    position: absolute;
    top: 4000px;
    left: 270px;
}



/*EVEN DID NOT EAT THE APPLE*/
#h2edumation {
    position: absolute;
    top: 4900px;
    left: 60px;
         }
#edumation {
    line-height: 150%;
    word-spacing: 10px;
    width: 700px;
    position: absolute;
    top: 4950px;
    left: 60px;
       }
#eduvideo {
    width: 700px;
    position: absolute;
    top: 4900px;
    left: 750px;
}



/*AVATAR GIFS*/
#avatarh2{
    word-spacing: 10px;
    position: absolute;
    top: 5350px;
    left: 60px;
}
#avatar {
    line-height: 150%;
    word-spacing: 10px;
    width: 480px;
    position: absolute;
    top: 5400px;
    left: 60px;    
}
#idle {
    width: 400px;
    position: absolute;
    top: 5350px;
    left: 550px;
    padding-bottom: 40px;
}
#walk {
    width: 400px;
    position: absolute;
    top: 5350px;
    left: 1050px;
    padding-bottom: 40px;
}
#run {
    width: 400px;
    position: absolute;
    top: 5700px;
    left: 550px;
    padding-bottom: 40px;
}
#shoot {
    width: 400px;
    position: absolute;
    top: 5700px;
    left: 1050px;
    padding-bottom: 40px;
}
